*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Inter',sans-serif;
}
body{
    background: hsl(233, 47%, 7%);
    margin: 0px;
    padding: 0px;
}

.container{
    height: 350px;
    width: 700px;
    margin: 120px 0px 0px 240px;
    display: flex; 
}

section.left{
    padding:4px;
    height: 350px;
    width: 400px;
    background-color:hsl(244, 38%, 16%);
}

section.right{
    background-color: hsl(277, 84%, 36%);
    width: 340px;
    height: 350px;
    float: right;
}

div.info{
    font-weight: 400;
    padding: 30px;
    font-size: 15px;
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
}

h5,.count{
    display:inline-flex;
    font-family:"Inter";
}

.heading{
    font-weight: 700;
    padding: 30px;
    font-size: 25px;
    color: hsl(0, 0%, 100%);
}

ul{
    list-style: none;
    padding: 30px;
}

h5{
      color: hsl(0, 0%, 100%);
      font-size: 17px;
      font-family:'Inter',sans-serif;
}

p{
    font-size: 11px;
    line-height: 1.6;
    padding: 2px;
    color:hsla(0, 0%, 100%, 0.6);
}

img{
    padding: 0px;
    margin: 0px;
    width: 340px;
    height: 350px;
    float: right;
    opacity: 0.4;
}
